@font-face {
    font-family: "Jetbrains Mono";
    src: url(../fonts/Jetbrains_Mono/JetbrainsMono-VariableFont_wght.ttf);
}

:root {
    /*Matrix colors*/
    --malachite: #00FF41;
    --deep-green: #008F08;
    --dark-green: #003B00;
    --gray-black: #221f21;

    display: flex;
    background-color: var(--gray-black);
    margin-top: 8rem;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
}

.breakpoint {
    display: block;
}

.container {
    display: flex;
    flex-direction: column;
    padding-top: 10rem;
    margin-left: 8rem;
    margin-bottom: 4rem;
}

.article {
    display: flex;
    width: 80%;
    place-self: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 8rem;
    margin-top: 25rem;
    margin-bottom: 50rem;
    color: var(--malachite);
    font-family: 'Jetbrains Mono';
}

.article p {
    display: inline-block;
    overflow: hidden;
    text-align: center;
    font-size: 1rem;
}

.badges {
    color: var(--deep-green);
    font-size: 2rem;
    margin-block-start: 0;
    margin-block-end: 0;
    text-wrap: balance;
}

.badges i:hover {
    color: var(--malachite);
}

a {
    font-family: 'Jetbrains Mono';
    text-decoration: none;
    color: var(--deep-green);
}

.container a:hover, .article a:hover {
    color: var(--gray-black);
    background-color: var(--malachite);
}

.contact-email, .contact-linkedin {
    font-family: 'Jetbrains Mono';
    color: var(--deep-green);
}

::selection {
    color: var(--gray-black);
    background-color: var(--malachite);
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--gray-black);
    color: var(--malachite);
    font-family: 'Jetbrains Mono';
}

.footer .container {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 2rem;
    justify-content: center;
    align-items: center;
}
