.navigation-bar {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.navigation-bar .navigation-links {
    list-style-type: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    padding-inline: 0rem 0rem;
    margin-inline-start: 1rem;
    margin-inline-end: 1rem;
    background-color: var(--gray-black);
}

.navigation-bar .navigation-links .navigation-link {
    display: flex;
}

.navigation-bar .navigation-links .navigation-link a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Jetbrains Mono';
    color: var(--malachite);
    width: 100%;
    padding: 1rem 2rem 1rem 2rem;
}

.navigation-bar .navigation-links .navigation-link.selected a::after {
    content: ' ';
    width: 8px;
    height: 2px;
    border: 1px;
    border-style: solid;
    border-color: var(--gray-black);
    background-color: var(--gray-black);
    opacity: 0;
    display: inline-block;
    animation: blink 0.5s steps(1, end) infinite alternate;
}

.navigation-bar .navigation-links .navigation-link.selected {
    background-color: var(--deep-green);
}

.navigation-bar .navigation-links .navigation-link:hover {
    background-color: var(--malachite);
}

.navigation-bar .navigation-links .navigation-link:hover a {
    color: var(--gray-black);
}

.navigation-bar .navigation-links .navigation-link.selected:hover {
    background-color: var(--malachite);
}

.navigation-bar .navigation-links .navigation-link.selected a {
    color: var(--gray-black);
}

@keyframes blink {
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@media screen and (max-width: 768px) {
    .navigation-bar {
        display: none;
    }
}