@use 'sass:map';

@use 'media';
@use 'colors';

.badges {
    .badge {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        position: relative;
        margin: 0.5rem;
        color: colors.$deepGreen;
        font: {
            size: 2rem;
        }

        i {

            &:hover {
                color: colors.$malachite;
            }
        }
        .badge-tooltip {
            background-color: colors.$grayBlack;
            color: colors.$malachite;
            text-align: center;
            text-wrap: nowrap;
            font-size: medium;
            position: absolute;
            min-width: 100px;
            display: none;
            bottom: 3.5rem;
            border: 2px solid colors.$malachite;
            padding: 10px;
        }

        &:hover {
            .badge-tooltip {
                display: block;
            }
        }
    }
}

@include media.media(map.get(media.$breakpoints, "small")) {
    .badges {
        text-wrap: balance;
        text-align: center;

        a {
            display: block;
            margin: {
                top: 1rem;
                bottom: 1rem;
            };
            font-size: 1rem;
        }

        .badge {
            .badge-tooltip {
                text-wrap: wrap;
            }
        }
    }
}