@use 'sass:map';

@use 'media';
@use 'colors';

.badges {
    color: colors.$deepGreen;
    font: {
        size: 2rem;
    }

    a {
        font-size: 1.5rem;
        i {
            &:hover {
                color: inherit;
            }
        }
    }

    i {
        width: 2.5%;

        &:hover {
            color: colors.$malachite;
        }
    }
}

@include media.media(map.get(media.$breakpoints, "small")) {
    .badges {
        text-wrap: balance;
        text-align: center;
    }
}