@use 'sass:map';

@use 'media';

@use 'colors';
@use 'animations';

.navigation-bar {
    z-index: 999;
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    place-self: center;
    place-content: center;
    width: 100%;
    background-color: colors.$grayBlack;

    .navigation-links {
        height: 100%;
        display: flex;
        list-style-type: none;
        place-content: center;
        align-items: center;
        text-align: center;
        padding-inline: {
            start: 0;
            end: 0;
        }
        margin-inline: {
            start: 0;
            end: 0;
        }
        margin-block: {
            start: 0;
            end: 0;
        };
        background-color: colors.$grayBlack;

        .navigation-link {
            display: flex;
            a {
                color: colors.$malachite;
                text: {
                    transform: uppercase;
                }
                padding: {
                    top: 1rem;
                    right: 2rem;
                    bottom: 1rem;
                    left: 2rem;
                }

                &::after {
                    display: inline-block;
                    content: ' ';
                    width: 8px;
                    height: 2px;
                    border: {
                        top: 1px; right: 1px; bottom: 1px; right: 1px;
                        style: solid;
                        color: colors.$grayBlack;
                    }
                    background-color: colors.$grayBlack;
                    opacity: 0;
                    @include animations.animate(blinkingCursor, 0.5s, steps(1, end), infinite);
                }
            }

            &.selected {
                background-color: colors.$deepGreen;

                &:hover {
                    background-color: colors.$malachite;
                }

                a {
                    color: colors.$grayBlack;
                }
            }

            &:hover {
                background-color: colors.$malachite;

                a {
                    color: colors.$grayBlack;
                }
            }
        }
    }
}

@include media.media(map.get(media.$breakpoints, "small")) {
    .navigation-bar {
        display: none;
    }
}