@use 'sass:map';

@use 'media';
@use 'colors';
@use 'animations';

$marginBlock: ( start: 0, end: 0 );

.title {
    color: colors.$malachite;
    font: {
        size: 2rem;
    }
    margin-block: {
        start: map.get($marginBlock, "start");
        end: map.get($marginBlock, "end");
    };
}

.subtitle {
    &:hover {
        &::before {
            opacity: 0;
            content: '> ';
            @include animations.animate(blinkingCursor, 1s, steps(1, end), infinite);
        }
        &::after {
            opacity: 0;
            content: ' <';
            @include animations.animate(blinkingCursor, 1s, steps(1, end), infinite);
        }
    }
}

.name-title {
    color: colors.$malachite;
    font: {
        size: 5rem;
    }
    margin-block: {
        start: map.get($marginBlock, "start");
        end: map.get($marginBlock, "end");
    };
}

.expertise-title {
    color: colors.$deepGreen;
    font: {
        size: 3rem;
    }
    margin-block: {
        start: map.get($marginBlock, "start");
        end: 2rem;
    };
}

.title-links {
    display: inline-block;
    a {
        display: inline-block;
        margin: {
            top: 0.5rem;
            bottom: 0.5rem;
        };
    }
}

@include media.media(map.get(media.$breakpoints, "small")) {
    .name-title {
        font: {
            size: 3rem;
        }
    }

    .expertise-title {
        font: {
            size: 1.5rem;
        }
    }
}